@model VolantUygulama.ViewModels.AlisverisListeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mainView.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Alışveriş Listesi
        <small>Urun ekleyip çıkarabilirsiniz.</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Volant</a></li>
        <li><a href="#">Proje</a></li>
        <li class="active">Alışveriş Sitesi</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    @foreach(var urun in Model.urunListe)
    {
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">@urun.urunAd</h3>
            <div class="box-tools pull-right">
                
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Listeden Kaldır">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            @urun.urunAciklama
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
        </div>
    </div>
    }
        <!-- /.box-footer-->
    
    <!-- /.box -->
</section>
<!-- /.content -->
